---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Video from '../components/Video.astro';
---

<Layout title='Topページ'>
  <h1>Topページ</h1>
  <Video />
  <div>
    <img src='/img/astro-logo-dark.svg' alt='' />
  </div>
  <Button title='ボタン' />
</Layout>

<style lang='scss'>
  div {
    width: 100%;
    max-width: 300px;
    img {
      width: 100%;
    }
  }
</style>
