<!-- <video controls="" autoplay="" transition:persist>
  <source src="https://ia804502.us.archive.org/33/items/GoldenGa1939_3/GoldenGa1939_3_512kb.mp4" type="video/mp4">
</video> -->
<!-- <div>
  <div class='box'></div>
</div>

<style>
  .box {
    width: 100px;
    height: 100px;
    background-color: red;
  }
</style>

<script>
  const newspaperSpinning = [{ transform: 'rotate(0)' }, { transform: 'rotate(360deg)' }];
  const newspaperTiming = {
    duration: 10000,
    iterations: 10,
  };
  document.querySelector('.box')?.animate(newspaperSpinning, newspaperTiming);
</script> -->
