---

---

<header class='header'>Header</header>
<nav>
  <ul>
    <li><a href='/'>Top</a></li>
    <li><a href='/about/'>About</a></li>
  </ul>
</nav>

<style>
  .header {
    font-size: 28px;
    font-weight: bold;
    color: #ff7e33;
    background-color: #2a233e;
    padding: 20px;
  }
  .title {
    margin: 0;
  }
</style>
